<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Webapp_3rdYear</display-name>
  <welcome-file-list>
    <welcome-file>view/admin/home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>jsp</servlet-name>
    <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
    <init-param>
      <param-name>mappedfile</param-name>
      <param-value>false</param-value>
    </init-param>
  </servlet>
  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>
			org.sitemesh.config.ConfigurableSiteMeshFilter
		</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteController</display-name>
    <servlet-name>DeleteController</servlet-name>
    <servlet-class>com.webapp3rdyear.controller.accounts.DeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteController</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddController</display-name>
    <servlet-name>AddController</servlet-name>
    <servlet-class>com.webapp3rdyear.controller.accounts.AddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddController</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateController</display-name>
    <servlet-name>UpdateController</servlet-name>
    <servlet-class>com.webapp3rdyear.controller.accounts.UpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateController</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomeController</display-name>
    <servlet-name>CustomeController</servlet-name>
    <servlet-class>com.webapp3rdyear.controller.user.customer.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomeController</servlet-name>
    <url-pattern>/customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomerController</display-name>
    <servlet-name>DeleteCustomerController</servlet-name>
    <servlet-class>com.webapp3rdyear.controller.user.customer.DeleteCustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerController</servlet-name>
    <url-pattern>/DeleteCustomerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCustomerController</display-name>
    <servlet-name>AddCustomerController</servlet-name>
    <servlet-class>com.webapp3rdyear.controller.user.customer.AddCustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomerController</servlet-name>
    <url-pattern>/AddCustomerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSellerController</display-name>
    <servlet-name>DeleteSellerController</servlet-name>
    <servlet-class>com.webapp3rdyear.controller.user.seller.DeleteSellerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSellerController</servlet-name>
    <url-pattern>/DeleteSellerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteShipperController</display-name>
    <servlet-name>DeleteShipperController</servlet-name>
    <servlet-class>com.webapp3rdyear.controller.user.shipper.DeleteShipperController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteShipperController</servlet-name>
    <url-pattern>/DeleteShipperController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSellerController</display-name>
    <servlet-name>AddSellerController</servlet-name>
    <servlet-class>com.webapp3rdyear.controller.user.seller.AddSellerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSellerController</servlet-name>
    <url-pattern>/AddSellerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddShipperController</display-name>
    <servlet-name>AddShipperController</servlet-name>
    <servlet-class>com.webapp3rdyear.controller.user.shipper.AddShipperController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddShipperController</servlet-name>
    <url-pattern>/AddShipperController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCustomerController</display-name>
    <servlet-name>UpdateCustomerController</servlet-name>
    <servlet-class>com.webapp3rdyear.controller.user.customer.UpdateCustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomerController</servlet-name>
    <url-pattern>/UpdateCustomerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSellerController</display-name>
    <servlet-name>UpdateSellerController</servlet-name>
    <servlet-class>com.webapp3rdyear.controller.user.seller.UpdateSellerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSellerController</servlet-name>
    <url-pattern>/UpdateSellerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateShipperController</display-name>
    <servlet-name>UpdateShipperController</servlet-name>
    <servlet-class>com.webapp3rdyear.controller.user.shipper.UpdateShipperController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateShipperController</servlet-name>
    <url-pattern>/UpdateShipperController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeVoucherController</display-name>
    <servlet-name>HomeVoucherController</servlet-name>
    <servlet-class>com.webapp3rdyear.controller.voucher.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeVoucherController</servlet-name>
    <url-pattern>/HomeVoucherController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddVoucherController</display-name>
    <servlet-name>AddVoucherController</servlet-name>
    <servlet-class>com.webapp3rdyear.controller.voucher.AddVoucherController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVoucherController</servlet-name>
    <url-pattern>/AddVoucherController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteVoucherController</display-name>
    <servlet-name>DeleteVoucherController</servlet-name>
    <servlet-class>com.webapp3rdyear.controller.voucher.DeleteVoucherController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteVoucherController</servlet-name>
    <url-pattern>/DeleteVoucherController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateVoucherController</display-name>
    <servlet-name>UpdateVoucherController</servlet-name>
    <servlet-class>com.webapp3rdyear.controller.voucher.UpdateVoucherController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateVoucherController</servlet-name>
    <url-pattern>/UpdateVoucherController</url-pattern>
  </servlet-mapping>
</web-app>